<% layout('layouts/new') %> 
<h1>your 70% amount will be refunded on your account in 2-3 working day</h1> 
<h2>your money is paid by You:<%=cancelBooking.campprice %> </h2> 
<h2>your money is refunded:<%=cancelBooking.campricetopaid %> </h2> 
<h3>your money is dedeucted:<%=cancelBooking.camppricededucted%> </h3>




<!-- campground:bookingname.campground,
        author:bookingname.author,
        totalmembers:bookingname.totalmembers,
        date:bookingname.date,
        datenow:bookingname.datenow,
        campprice:bookingname.campprice,
        camppricededucted:isDeducted,
        campricetopaid -->