<% layout('layouts/new') %>

<% layout('layouts/new') %>
<h3>Regiester</h3>
<form action="" method="" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="username"><%=user.username %> </label>
        <input class="form-control" type="text" id="username" name="username" required autofocus>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="number">Phone Number</label>
        <input class="form-control" type="number" id="number" name="number" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
   


    <button class="btn btn-success btn-block">edit user</button>
</form>
















 











    

    
    <script>
         (function () {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.validated-form')
  
    // Loop over them and prevent submission
    Array.from(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
  
          form.classList.add('was-validated')
        }, false)
      })
  })()
  </script>
